#product {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

img {
  height: 40%;
  width: 40%;
}

#price-box {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(234, 234, 234);
  padding-bottom: 35px;
  padding-right: 100px;
}

button, h2 {
  width: 143%;
}

h2 {
  margin-top: 25px;
  border-style: solid;
  border-color: rgb(234, 234, 234);
}

#buy-btn {
  margin-top: 25px;
}

#bid-btn {
  margin-top: 25px;
}